body{background-image: url(chess-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
width: 500px;
height: 100%;
}
::selection{
  background-color: rgb(190, 72, 72);
}
.ss{height: 500px;
    width: 450px; 
    border: rgba(43, 61, 122, 0.514)  3px;
    border-style:ridge;
    border-radius: 5px;
    margin-left: 450px;
    margin-top: 50px;
    line-height: 0px;
    background-color: rgba(16, 16, 48, 0.322);
    backdrop-filter: blur(2px);
   }
   .ss input{
    margin-left: 40px;
    margin-top:35px; ;
    width: 350px;
    height: 35px;
    background-color: transparent;
    border:#fefefe8c solid 3px ;
    border-radius: 7px;
    color: #fefefe8c;
    font-size: large;
    font-weight: bolder;
    font
   }
   .ss input:focus{
    outline: none;
    
   }
   .ss button{
     background: transparent;

    border: 3px rgb(170, 190, 207) solid;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
 font-size: larger;
  
 font-weight: bolder;
font-family:sans;
  padding: 8px 20px;
    color: rgb(170, 190, 207);
    margin: 7px 42px;
    margin-bottom: 0px;
    transition: 0.3s ease;
   
   }
   .ss button:hover{ background-color: rgb(9, 17, 87);
    color: rgb(28, 145, 199);
    border: solid 5px transparent;
font-size: x-large;

   }
   .r{text-align: center;
    font-size: x-large;
    color: #fefefe;
    font-family: sans;
    
   }
   